<html>
    <head>
        <title>{{ Post.getTitle }}</title>
    </head>
    <body>
        {{ Post.getBody }}
        {{ Post.getBody|lower }}
        {{ Post.getBody(Post.getTitle) }}
    </body>
</html>
